.body{
  padding-top: 70px;
  padding-bottom: 60px;
}
.designs{
  text-align: center;
}
/* .table{
  border: 10px solid orange;
  font-style: fantasy;
  font-size: 20px;
  width: 100%;
} */
.table {
  border-collapse: collapse;
  width: 70%;
  font-size: 20px;
  font-style: fantasy;
}
.th,.td {
  text-align: left;
  padding: 8px;
}
.tr:nth-child(even) {
  background-color: #f2f2f2;
  height: 70px;
}
.navbar {
  background-color: #666;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.fixed-bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 20px;
}
.h1{
  color:darkgoldenrod;
  font-family: fantasy;
  text-align:center;
  padding: 5px;
}
.header{
  color: brown;
  font-style: fantasy;
  font-size: 20px;
  padding: 5px;
}
.error{
  color: red;
}
/* ############################################## */
.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
}
.login-form-1 h3{
  text-align: center;
  color: #333;
  justify-content: center;
}
.login-form-2{
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
  text-align: center;
  color: #fff;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-2 .btnSubmit{
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .ForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
/* ############################################## */
