<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title>User register</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="css" th:href="@{css/layout.css}" />
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
<body>
  <div th:replace="./fragments/header :: header">...</div>
  </div>
<h1 class="col-md-6 login-form-1">Registration</h1>
<!-- <form method="post"  action="registration.html" th:action="@{/registration}" th:object="${prospective}"  modelAttribute="newProspective"> -->
  <form  action="#" th:action="@{/registeredSuccessfully}" th:object="${prospective}"  method="post"> 
    <div class="form-group">
        <label>First Name</label>
        <input class="form-control" type="text" th:field="*{firstName}"/>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">errors</div>
        <p th:each="error: ${#fields.errors('firstName')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" type="text"  th:field="*{lastName}"/>
        <p th:each="error : ${#fields.errors('lastName')}" 
          th:text="${error}">Validation error</p>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}" 
          th:text="${error}">Validation error</p>
        <p th:if="${#fields.hasErrors('email')}" class="error" th:errors="*{email}">Validation error</p>
    </div>
    <!-- <div>
        <label th:text="#{label.user.password}">password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}" 
          th:text="${error}">Validation error</p>
    </div> -->
    <!-- <div>
        <label th:text="#{label.user.confirmPass}">confirm</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div> -->
    <button type="submit" th:text="Submit">Submit</button>
</form>

<a th:href="@{/login}" th:text="Login">login</a>
</div>
<div th:replace="./fragments/footer :: footer">...</div>
</body>

</html>